# Dummy Variable
use pandas to create dummy
variables and save it into dummies.
now tell me what is Dummy
Variable Trap and how to avoid that?
concatinate dummies to orginal data
frame and drop extra column
save csv file

### Import libraries

In [11]:
import pandas as pd
import numpy as np

### Reading data's

In [12]:
# df=pd.read_clipboard()
df=pd.read_excel('./data.xlsx')
df

                    model  mileage  age  price
0                  BMW X5    69000    6  18000
1                  BMW X5    35000    3  34000
2                  BMW X5    57000    5  26100
3                  BMW X5    22500    2  40000
4                  BMW X5    46000    4  31500
5                 Audi A5    59000    5  29400
6                 Audi A5    52000    5  32000
7                 Audi A5    72000    6  19300
8                 Audi A5    91000    8  12000
9   Mercedez Benz C class    67000    6  22000
10  Mercedez Benz C class    83000    7  20000
11  Mercedez Benz C class    79000    7  21000
12  Mercedez Benz C class    59000    5  33000

### Get dummies

In [13]:
df=pd.get_dummies(df,drop_first=True)
df.reset_index(drop=True, inplace=True)

In [14]:
X=df.loc[:, ~df.columns.isin(['price'])]
Y=df[['price']]

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=10000)
print (f'Train set:\n {X_train},\n  {y_train}')
print (f'Test set: \n, {X_test}, \n {y_test}')

Train set:
     mileage  age  model_BMW X5  model_Mercedez Benz C class
9     67000    6             0                            1
6     52000    5             0                            0
10    83000    7             0                            1
1     35000    3             1                            0
0     69000    6             1                            0
11    79000    7             0                            1
2     57000    5             1                            0
8     91000    8             0                            0
5     59000    5             0                            0
12    59000    5             0                            1,
      price
9   22000
6   32000
10  20000
1   34000
0   18000
11  21000
2   26100
8   12000
5   29400
12  33000
Test set:
,    mileage  age  model_BMW X5  model_Mercedez Benz C class
3    22500    2             1                            0
4    46000    4             1                            0
7    72000    6             0                            0,
    price
3  40000
4  31500
7  19300

### Linear Regression

In [16]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit (X_train, y_train)
# The coefficients
print ('Coefficients: ', regr.coef_)
print ('Intercept: ',regr.intercept_)

Coefficients:  [[-8.56204454e-02 -4.77943139e+03 -5.97605460e+03  1.12775326e+03]]
Intercept:  [58908.36497999]

In [17]:
from sklearn.metrics import r2_score

y_hat=regr.predict(X_test)


print("R2-score: %.2f" % r2_score(y_hat , y_test) )
# print(y_hat,Y_test)

R2-score: 0.82

### Write Csv file

In [18]:
df.to_csv('../cars.csv', sep='\t', encoding='utf-8')